:root{
    --main-primary-light:#FF7A00;
}

.navbarBackground{
    /* background-color: pink; */
    min-height: 112px;
    display: flex;
    flex-direction: column;
}
.navbarBackgroundVisible{
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbarBackgroundInvisible{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:1rem;
    overflow: hidden;
    /* height:80vh; */
    transition: all 1s ease-in-out;
}
.navbaroptionsLeft{
    /* background-color: bisque; */
    width:50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.navbaroptionsRight{
    /* background-color: red; */
    width:38%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.colourSwitch{
    /* background-color: yellow; */
    padding:1rem;
    margin-right:1rem;
}

.colourSwitchButtonBox{
    height:67px;
    width:247px;
    background-color: var(--main-primary-light);
    border-radius:50px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    box-shadow: -4px 7px 7px rgba(0, 0, 0, 0.4), -1px 1px 5px rgba(255, 255, 255, 0.4);
}

.eachLetter{
    font-size: 32px;
    text-transform: capitalize;
    font-weight: 400;
    color: white;
    text-shadow: -2px 7px 7px rgba(0, 0, 0, 0.8), 1px -1px 5px rgba(255, 255, 255, 0.5);
}

.flipperButton{
    position: absolute;
    background-color: var(--main-primary-light);
    height:67px;
    width:123.5px;
}

.burgerMenu{
    /* background-color: aqua; */
    padding:.5rem;
    max-width:80px;
    max-height: 80px;
    min-width:80px;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hiddenVisible{
    display: none;
    transition: all 1s ease-in-out;
}
.beVisible{
    display: block;
}
@media screen and (min-width: 834px) {
    .burgerMenu{
        display:none;
    }
    .navbarBackground{
        justify-content: flex-end;
        align-items: flex-end;
    }  
}

@media screen and (max-width: 834px) {
    .navbarBackground{
        justify-content: space-between;
    } 
    .colourSwitchButtonBox{
        width:159px;
        height:45px;
    }
    .eachLetter{
        font-size:24px;
    }
    .flipperButton{
        height:45px;
        width:79.5px;
    }
}

.mobileBurgerBarDark{
    background-color: var(--main-primary-light);
    width: 50px;
    height: 10px;
    border-radius: 50px;
    margin:.5rem;
    box-shadow: 4px -2px 8px rgba(255, 255, 255, 0.3), -4px 4px 7px rgba(0, 0, 0, 0.2);
    transition: all 1s ease-in-out;
    position: absolute;
    margin:.5rem;
}

.mobileBurgerBarLight{
    background-color: white;
    width: 50px;
    height: 10px;
    border-radius: 50px;
    margin:.5rem;
    box-shadow: 4px -2px 8px rgba(255, 255, 255, 0.3), -4px 4px 7px rgba(0, 0, 0, 0.2);
    transition: all 1s ease-in-out;
    position: absolute;
    margin:.5rem;
}

.burgerMenuBarContainer{
    position: relative;
    /* background-color: antiquewhite; */
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  

}

.burgerMenuBarContainer:hover div{
    transition: all 1s ease-in-out;
     box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.3), 0px 0px 7px rgba(0, 0, 0, 0.4);
}

.mobileBurgerBarLeftDark{
     background-color: var(--main-primary-light);
    width: 50px;
    height: 10px;
    border-radius: 50px;
    margin:.5rem;
    box-shadow: 4px -2px 8px rgba(255, 255, 255, 0.3), -8px 8px 7px rgba(0, 0, 0, 0.4);
    position: absolute;
    
    transform:rotate(-45deg);
    transition: all 1s ease-in-out;
}

.mobileBurgerBarLeftLight{
     background-color: white;
    width: 50px;
    height: 10px;
    border-radius: 50px;
    margin:.5rem;
    box-shadow: 4px -2px 8px rgba(255, 255, 255, 0.3), -8px 8px 7px rgba(0, 0, 0, 0.4);
    position: absolute;
    
    transform:rotate(-45deg);
    transition: all 1s ease-in-out;
}

.mobileBurgerBarRightDark{
     background-color: var(--main-primary-light);
    width: 50px;
    height: 10px;
    border-radius: 50px;
    margin:.5rem;
    box-shadow: 4px -2px 8px rgba(255, 255, 255, 0.3), -8px 8px 7px rgba(0, 0, 0, 0.4);
    position: absolute;
    
    transform:rotate(45deg);
    transition: all 1s ease-in-out;
}

.mobileBurgerBarRightLight{
     background-color: white;
    width: 50px;
    height: 10px;
    border-radius: 50px;
    margin:.5rem;
    box-shadow: 4px -2px 8px rgba(255, 255, 255, 0.3), -8px 8px 7px rgba(0, 0, 0, 0.4);
    position: absolute;
    
    transform:rotate(45deg);
    transition: all 1s ease-in-out;
}

.menuInvisibleP{
    text-transform: capitalize;
    font-size: 48px;
    font-weight: 400;
    /* background-color: aqua; */
    margin:20px;
}
.menuDark{
    color:#FF7A00;
    text-shadow: -1.5px 7px 7px rgba(0, 0, 0, 0.6), 1px -1px 5px rgba(255, 255, 255, .19);
    transition: all 1s ease-in-out;
}

.menuDark:hover{
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4), 0px 0px 8px rgba(255, 255, 255, .3);
    transition: all 1s ease-in-out;
}

.menuLight{
    color:white;
    text-shadow: -4px 7px 7px rgba(0, 0, 0, 0.5), 1px -1px 5px rgba(255, 255, 255, 0.6);
    transition: all 1s ease-in-out;
}

.menuLight:hover{
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4), 0px 0px 8px rgba(255, 255, 255, .3);
    transition: all 1s ease-in-out;
}


.navbarVerticalBarLight{
    background-color: white;
    box-shadow:  -4px 7px 7px rgba(0, 0, 0, 0.5), 1px -1px 5px rgba(255, 255, 255, .25);
    width:10px;
    height:548px;
    border-radius:50px;
    transition: all 1s ease-in-out;
    overflow: hidden;

}
.navbarVerticalBarDark{
    background-color: var(--main-primary-light);
    box-shadow:  -4px 7px 7px rgba(0, 0, 0, 0.4), 1px -1px 5px rgba(255, 255, 255, .25);
    width:10px;
    height:548px;
    border-radius:50px;
    transition: all 1s ease-in-out;
}

.flowingInAnimation{
    animation: 3s smoothFlowing ease-in-out forwards;
}
.flowingOutAnimation{
    animation: 3s smoothFlowingOut ease-in-out forwards;
}

@keyframes smoothFlowing{
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes smoothFlowingOut{
    from { opacity: 1; }
    to { opacity: 0; }
}





